@import 'bootstrap/dist/css/bootstrap.css';

header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
    
  }
  .nav{
    background-color: whitesmoke;
  }
  .nav-item{
   margin-right: 5px;
    background-color:grey;
    
  }
  .nav-link{
    color: black;
  }

  .main-container{
    height: 600px;
    background-color: #666;
   
  }
  main{
    
    background-color: whitesmoke;
  }
 aside{
   
    background-color: bisque;
  }
  footer{
    background-color: #666;
    height: 50px;
    text-align: center;
    color: white;
    padding: 10px;
  }

  li{
    list-style: none;
  }